<div>
    <h1>
        Real time Product
    </h1>
    <h3>Listado de Productos</h3>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Code</th>
                <th>Status</th>
                <th>Stock</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Thumbnail</th>  
            </tr>
        </thead>
        <tbody id="productsBody">
        </tbody>
    </table>
</div>
<script  src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>